html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.hover-effect {
  position: absolute;
  border: 5px solid yellow;
  border-radius: 5px;
  /* box-shadow: 0 0 10px 5px yellow; */
  box-sizing: border-box;
  pointer-events: none;
  /* cursor: pointer; */
  transform: scale(1.1);
}

.hover-effect.active-effect {
  transform: scale(1);
}

.hover-effect:not(.valid) {
  border: 5px solid red;
  /* box-shadow: 0 0 10px 5px red; */
  /* cursor: not-allowed; */
}

#tao-te-ching-quote {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  user-select: none;
}

#tao-te-ching-quote h2 {
  font-size: 1.3em;
}

#entities-bar:not([hidden]) {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.entity-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

.entity-button:active {
  /* background-color: #fff;
  color: #000; */
  border-color: transparent;
  box-shadow: 0 0 0 2px #fff inset;
}
