html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: #000;
  color: #fff;
  font-family: sans-serif;
}

.hover-effect {
  cursor: pointer;
  border: 5px solid yellow;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px yellow;
  box-sizing: border-box;
}

#tao-te-ching-quote {
  position: absolute;
  top: 0;
  left: 0;
}

#tao-te-ching-quote h2 {
  font-size: 1.3em;
}
